.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.questionsHeader {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.createButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.createButton:hover {
  background-color: #0056b3;
}

.questionList {
  list-style-type: none;
  padding: 0;
}

.questionItem {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.questionItem a {
  text-decoration: none; /* Remove underline from the entire link */
  color: inherit; /* Inherit text color from the parent */
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionTitle {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Hides overflow content */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflow */
}

.separator {
  margin: 15px 0;
  border-top: 1px solid #ddd;
  width: 95%; /* Adjust this width to not touch the edges */
  margin-left: auto;
  margin-right: auto;
}

.questionContent {
  font-size: 16px;
  color: #555;
  margin-top: 10px;
  line-height: 1.6;
  max-height: 140px; /* Approximately 7 lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* Number of lines before truncation */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.metaInfo {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
  display: flex;
  justify-content: flex-end; /* Align to the right */
  gap: 10px; /* Add some spacing between elements */
}
